.container {
    max-width: 36rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerImage {
    width: 6rem;
    height: 6rem;
}

.headerHomeImage {
    width: 8rem;
    height: 8rem;
}

.backToHome {
    margin: 3rem 0 0;
}

.formGroup {
    width: 100%;
    margin: 1em 0;
}

.formTitle {
    width: 100%;
    font-size: 0.8em;
}

.formTitle p {
    color: #0c0e43;
}

.formTitle label {
    color: red;
    margin-left: 5px;
}

.btnGroup button {
    width: 100%;
}

.linkGroup {
    width: 100%;
    font-size: 0.8em;
    margin: 20px 0;
}

.formSelectSpan {
    font-size: 0.8em;
    margin: 0 5px;
}
